<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
        <link href='css/default.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    </head>
    <body>
        <div id="container">
            <div id="header">
                <span class="m">M</span><span class="oss">oss</span>
            </div>
            <div class="clear"></div>
            <div id="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="patches.html">Moss Patches</a></li>
                    <li><a href="samples.html">Samples</a></li>
                    <li><a href="config.html">Config</a></li>
                    <li><a href="objects.html">Objects</a></li>
                </ul>   
            </div>
            <div class="clear"></div>

            <div id="content">
                {{ content }}
            </div>
            <div id="footer">
                <a href="https://github.com/teneighty/moss">source</a>
            </div>
        </div>
    </body>
</html>

